/*Global selectors*/

* {
	box-sizing: border-box;
}

body {
	margin: 0 auto;
	padding: 0 auto;
  font-family: Helvetica Neue;
}

/*Landing Page*/

 @font-face { font-family: Plantagenet; src: url('Plantagenet.ttf'); } 



.indexHead{
  font-family: Plantagenet;
}

#land {
	height: 100vh;
	background-color: #020202;
	margin: 0 auto;
	overflow: hidden;
}

#land img {
	width: 500px;
	display: block;
	margin: auto;
	margin-top: 30px;
}



/*Landing Page NavBar*/
#land nav ul {
	display: flex;
	width: 100wh;
	justify-content: space-around;
	margin-top: 40px;
	font-size: 25px;
}

#land nav ul li {
	list-style-type: none;
}

#land nav ul li a {
	text-decoration: none;
	color: #95989A;
  font-family: Helvetica Neue;
}

#land section {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	color: white;
}

#land section h1 {
	font-size: 45px;
}

#land section h3 {
	margin-bottom: 60px;
	width: 300px;
	color: grey;
	text-align: center;
}

#land section div {
	width: 900px;
	height: 400px;
	background-color: white;
}


/*Chef recommended*/
#recommended {
	height: 100vh;
}

#recommended .flex {
	height: 90%;
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
}

#recommended .flex img{
	width: 380px;
	height: 180px;
	border: 2px solid grey;
	cursor: pointer;
	box-shadow: 0px 5px 20px black;
	transition: transform 1s;
}

#recommended .flex img:hover {
	transform: scale(1.1);
}

#recommended .flex figcaption {
	text-align: center;
	margin-top: 20px;
}

#recommended .flex a {
	text-decoration: none;
	color: grey;
	font-size: 20px;
}


/*Contact Section*/
#contact {
	height: 100vh;
	background-color: black;
	overflow: hidden;
}

#contact #location {
	color: white;
	text-align: center;
	margin-top: 40px;
}

#contact ul {
	margin-left: 50px;
	margin-top: 150px;
	float: left;
}

#contact ul li {
	list-style-type: none;
	color: #E77272;
	font-size: 20px;
}

#contact ul p {
	color: white;
}

#contact div {
	width: 800px;
	height: 400px;
	background-color: white;
	float: right;
	margin: 40px;
	margin-top: 200px;
}

/*Food Menu*/
#main {
	background-color: #020202;
	margin: 0 auto;
	overflow: hidden;
	height: 3000px;
}

#main #logo {
	width: 500px;
	display: block;
	margin: auto;
	margin-top: 30px;
	animation-duration: 2s;
}

#main nav ul {
	display: flex;
	width: 100%;
	justify-content: space-around;
	margin-top: 40px;
	font-size: 25px;
	animation-duration: 2s;
}

#main nav ul li {
	list-style-type: none;
	color: white;
	margin: 0 auto;
}

#main nav ul li a {
	text-decoration: none;
	color: grey;
}

#mainList {
	color: white;
	width: 25%;
	clear: both;
	animation-duration: 2s;
}

#mainList li {
	border: 1px solid #95989A;
	padding: 20px;
	list-style-type: none;
	cursor: pointer;
}

#secondList {
	color: white;
	width: 10%;
	display: block;
	margin: auto;
	animation-duration: 8s;
	margin-top: 0px;
	margin-left: -200px;
}

#secondList h1 {
	color: white;
	margin-bottom: 50px;
	border-bottom: 1px solid grey;
}

#secondList h2 {
	color: #E77272;
}

#secondList ul {
	
	position: absolute;
	margin-right: 500px;
}

#secondList ul li {
	list-style-type: none;
	line-height: 30px;
}

#secondList span {
	float: right;
	margin-left: 10px;
}

#secondList p:nth-child(2) {
	border-bottom: 1px solid grey;
}

/*Side divs*/
#side {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	margin-top: 120px;
	perspective: 700px;
	animation-duration: 2s;
}

#side div {
	width: 200px;
	height: 200px;
	background-color: white;
	margin-right: 60px;
	margin-top: 40px;
	transform-style: preserve-3d;
	transition: transform 2s; 
}

#side div:hover {
	transform: rotateY(180deg);
}

#current {
	color: white !important;
}

/*Animations*/
#land img {
	animation-duration: 2s;
}

#land nav ul {
	animation-duration: 2s;
}

#land section {
	animation-duration: 2s;
}

#contact h1 {
	animation-duration: 2s;
}

#contact ul {
	animation-duration: 3;
}

#contact div {
	animation-duration: 2s;
}

@media only screen and (min-width: 300px) {
	#land {
		height: 1000px;
	}

	#land img {
		width: 550px;
	}

	#land section div {
		margin-top: -20px;
		width: 500px;
		height: 250px;
	}

	


#contact {
	overflow: hidden;
	height: 800px;
	position: relative;
}

#contact #location {
	font-size: 20px;
	margin-top: 60px;
	margin-bottom: 0;
}

#contact ul {
	display: block;
	margin: auto;
	margin-top: 100px;
}

#contact ul li {
	list-style-type: none;
	color: #E77272;
	font-size: 16px;
}

#contact ul p {
	color: white;
}

#contact div {
	width: 600px;
	height: 300px;
	position: absolute;
	left: 20;
	right: 0;
	margin-bottom: 20px;
}

#main {
	perspective: 700px;
	height: 2000px;
}

#main img {
		width: 250px;
	}


#main #arrow {
	display: block;
	background-color: red;
	width: 50px;
	transform-style: preserve-3d;
	filter: grayscale(100%);
	margin-bottom: 100px;
}

#main #arrow:hover {
	transform: rotate(180deg);
	animation-name: animate1;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	animation-timing-function: ease-in-out;
}

@keyframes animate1 {
	0% {
		transform: rotate(0deg);
	}


	100% {
		transform: rotate(-180deg);
	}
}

	#main nav ul {
}


#mainList {
	float: left;
}

#mainList li {
	border: 1px solid #95989A;
	padding: 15px;
	list-style-type: none;
	cursor: pointer;
}

#secondList {
	float: right;
	margin: auto 0;
	margin-right: 500px;
	margin-top: 20px;
}

#secondList h1 {
	color: white;
	margin-bottom: 50px;
	border-bottom: 1px solid grey;
}

#secondList h2 {
	color: #E77272;
}

#secondList ul {
	width: 60%;
	display: none;
	position: absolute;
	margin: auto;
}

#secondList ul li {
	list-style-type: none;
	line-height: 30px;
}

#secondList span {
	float: right;
	margin-left: 10px;
}

#side {
	display: none;

}

@media only screen and (max-width: 500px) {
	#land {
		height: 700px;
	}

	#land img {
		width: 250px;
	}

	#land section div {
		margin-top: -20px;
		width: 250px;
		height: 200px;
	}

	#land nav #menu {
	display: flex;
	justify-content: center;
	flex-direction: column;
}

	#land nav #menu li a {
		font-size: 20px;
	}



#land section h1 {
	font-size: 20px;
}

#recommended {
	z-index: 3;
}

#recommended .flex {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#recommended .flex img{
	left: 0;
	right: 0;
	margin: auto;
	width: 200px;
	height: 100px;
	margin-top: 20px;

}

#recommended .flex div:hover {
	transform: scale(1.1);
}

#contact {
	z-index: -1;
	overflow: visible;
	height: 800px;
	position: relative;
}

#contact #location {
	font-size: 20px;
	margin-top: 160px;
}

#contact ul {
	display: block;
	margin: auto;
}

#contact ul li {
	list-style-type: none;
	color: #E77272;
	font-size: 16px;
}

#contact ul p {
	color: white;
}

#contact div {
	width: 250px;
	height: 200px;
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
	margin-top: 500px;
}

#main {
	perspective: 700px;
}

#main img {
		width: 250px;
	}


#main #arrow {
	display: block;
	background-color: red;
	width: 50px;
	transform-style: preserve-3d;
	filter: grayscale(100%);
}

#main #arrow:hover {
	transform: rotate(180deg);
	animation-name: animate1;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	animation-timing-function: ease-in;

}

@keyframes animate1 {
	0% {
		transform: rotate(0deg);
	}


	100% {
		transform: rotate(-180deg);
	}
}

	#main nav ul {
}


#mainList {
	display: flex;
	flex-wrap;
	width: 50%;
}

#mainList li {
	cursor: pointer;
}

#secondList {
	width: 20%;
	font-size: 16px;
	margin: auto 0;
	display: block;
}

#secondList h1 {
	color: white;
	margin-bottom: 50px;
	border-bottom: 1px solid grey;
}

#secondList h2 {
	color: #E77272;
}

#secondList ul {
	width: 80%;
	display: none;
	position: absolute;
	margin: auto;
}

#secondList ul li {
	list-style-type: none;
	line-height: 30px;
}

#secondList span {
	float: right;
	margin-left: 10px;
}

#side {
	display: none;
}

}

@media only screen and (orientation: landscape) {
	#recommended {
		height: 1200px;
	}

	#recommended a {
		width: 700;
		margin-top: 10px;
	}

	#main {
		height: 1600px;
	}

	#mainList {
		float: left;
	}

	#secondList {
		float: right;
		margin-left: 200px;
	}

	#secondList ul {
		margin-left: 200px;
	}
}

@media only screen and  (min-width: 1000px) {
	#secondList {
		margin-right: 760px;
		margin-top: -30px;
		}

}
  
@media only screen and (max-width: 800px) {

  	#main nav ul {
  flex-direction: column;
}

  }
